@{
    ViewBag.Title = "Index";
}

<h2>List of MVC 3 Examples</h2>

<ul>
    <li>@Html.RouteLink("Helpers","HelpersRoute")</li>
    <li>@Html.RouteLink("Server Attributes","AttributesRoute")</li>
    <li>@Html.RouteLink("Security","SecurityRoute")</li>
    <li>@Html.RouteLink("Ajax","AjaxRoute")</li>
    <li>Client Validation</li>
    <li>Routing</li>
    <li>Mvc Areas</li>
    <li>Models</li>
    <li>Action Filters</li>
    <li>Results</li>
    <li>Templates</li>
</ul>
